@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Thay đổi kiểu cuộn */
html {
  scroll-behavior: smooth;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

/* Tùy chỉnh giao diện thanh cuộn trình duyệt Chrome */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 15px;
}

.ant-layout {
  display: block !important;
}